*{
    margin: 0;
   /*outline: 1px solid red;*/
}
/*---------------------------------------------header--------------------------------------------*/
.logo{
    color: #FF4B32;
    font-family: "Josefin Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 31.2px */
    
}
.header-logo{
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: url(img/image.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;

}
.header-nav-ul li a {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; 
    text-decoration: none;
    padding: 0 50px;
    
}

.header-logo a{
    text-decoration: none;
}
.header-text h2{
    color: #FFF;
    font-family: "Josefin Sans";
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
    margin-bottom: 25px;
}
.header-text p{
    color: #FFF;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.8;
    margin-bottom: 35px;
}
.header-text button{
    border-radius: 5px;
    background: #FF4B32;
    color: #FFF;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    width: 148px;
    height: 53px;
}
.header-text{
    width: 524px;
    height: 401px;
    display: flex;
    flex-direction: column;
    margin-left: 145px;
  
}
.logo-nav{
    display: flex;
    margin-top: 60px;
    align-items: center;
    gap: 10px;
    height: 50px;
}
.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    list-style-type: none;
    margin-top: 60px;

}
.header-nav-ul{
    display: flex;
    height: 50px;
    justify-content: center;
   
}
.header-main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    
}
.nav-list-a{
    transition: color 0.6s;
}
.nav-list-a:hover{
    color: #FF4B32;

}
/*----------------------------------------------------MAIN------------------------------------------------*/
/*------------------------------------------------------------best-offer---------------------------------------------*/
.best-offer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 140px 145px 245px 145px;
}
.best-offer h3{
    color: #000;
    font-family: 'Josefin Sans';
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; 
    letter-spacing: 6.45px;
    margin-bottom: 20px;
}
.best-offer p{
    color: #000;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}
.best-offer h5{
    color: #0C0D0C;
    font-family: "Josefin Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; 
}
.best-offer h4{
    color: #000;
    font-family: "Josefin Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; 
}
.best-offer p{
    color: #000;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; 
}
.diferent-coffe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 90px;
}
.Brazilian-coffe, .Vietnam-coffe, .Indonesian-coffe{
    width: 310px;
    height: 455px;
    display: flex;
    flex-direction: column;
}
.Brazilian-coffe img{
    width: 300px;
    height: 265px;
}
.Brazilian-coffe h5, .Vietnam-coffe h5{
    margin-top: 35px;
}
.Indonesian-coffe h5{
    margin-top: 45px;
}
.Brazilian-coffe h4, .Vietnam-coffe h4{
    margin-top: 10px;
    margin-bottom: 15px;
}
.title-best-offer{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}
/*----------------------------------------------------------------our-gallery------------------------------------*/
.our-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.our-gallery h3{
    color: #000;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; 
    margin-bottom: 20px;
    margin-top: 230px;
}
.our-gallery p{
    color: #000;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; 
    margin-bottom: 60px;
}
.our-gallery a{
    color: #FF4B32;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    text-decoration: none;
    margin-top: 75px;
    margin-bottom: 155px;
}
.title-our-gallery{
    display: flex;
    flex-direction: column;
}
.img-our-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
/*-----------------------------------------------------follow-us---------------------------------------------------*/
.follow-us{
    background-image: url(img/Follow-us\ копія.png);
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title-follow-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title-follow-us h3{
    color: #FFF;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 60px;
}
.title-follow-us a{
    color: #FF4B32;
    text-align: center;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    text-decoration: none;
    margin-top: 100px;
    margin-bottom: 65px;
}
.phone-number-follow-us p, .email-follow-us p {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    margin-left: 15px;
}
.phone-number-follow-us{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.email-follow-us{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.social-media-follow-us{
    display: flex;
    gap: 30px;
    margin-bottom: 95px;
}
/*------------------------------------------------------uptade-news--------------------------------------------------*/
.uptade-news{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.all-card-uptade-news{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 140px;
}
.title-uptade-news h3{
    color: #000;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin-top: 140px;
    margin-bottom: 20px;
}
.title-uptade-news p{
    color: #000;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 60px;
}
.card-1-uptade-news, .card-2-uptade-news, .card-3-uptade-news{
    height: 536px;
    width: 362px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 40px 15px 136px 0px rgba(0, 0, 0, 0.20);

}
.card-1-uptade-news h4, .card-2-uptade-news h4, .card-3-uptade-news h4{
    color: #000;
    font-family: "Josefin Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 30px;
}
.card-1-uptade-news p, .card-2-uptade-news p, .card-3-uptade-news p{
    color: #000;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 20px;
    margin-left: 30px;

}
.card-1-uptade-news a, .card-2-uptade-news a, .card-3-uptade-news a{
    color: #FF4B32;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-decoration: none;
    margin-bottom: 30px;
    margin-left: 30px;

}
/*-------------------------------------------------------------footer---------------------------------------------*/
.footer-page{
    background-image: url("img/backgraund.png");
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.flex-footer-page{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo-footer-page{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 60px;
}
.logo-footer-page a{
    color: #FF4B32;
    font-family: "Josefin Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-decoration: none;
    
}
.coffee-p{
    color: #FFF;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-top: 20px;
}
.paragraf-footer-page p{
    color: var(--white, #FFF);
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; 
}
.phone-nmb-follow-us p{
    color: #FFF;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.categories-footer-page ul li, .information-footer-page ul li{
    color: #FFF;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    list-style-type: none;
    margin-top: 20px;
}
.categories-footer-page h4, .information-footer-page h4, .follow-us-footer-page h4{
    color: #FFF;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    margin-top: 65px;
}
.categories-footer-page ul, .information-footer-page ul, .follow-us-footer-page ul{
    padding-inline-start: 0;
}
.phone-nmb-follow-us{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}
.section-1-footer-page{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 145px;
}
.categories-footer-page{
    display: flex;
    flex-direction: column;
    text-align: start;
}
.information-footer-page{
    display: flex;
    flex-direction: column;
}
.follow-us-footer-page{
    display: flex;
    flex-direction: column;
}
.social-media-footer-page{
    margin-top: 45px;
    margin-right: 160px;
    gap: 10px;
    display: flex;
}
.paragraf-footer-page{
    display: flex;
    justify-content: center;
    margin-top: 75px;
}